 
 <!-- Post Content
            ================================================= -->
           
            <div class="post-content" post-id={{data.id}}>
               {{#if data.files.url}}
               <img src="{{data.files.url}}" alt="post-image" class="img-responsive post-image" /> 
              <!--<img src="http://thunder-team.com/friend-finder/images/post-images/1.jpg" alt="post-image" class="img-responsive post-image" />-->
              {{/if}}
          <div class="post-container">
                <img src="{{data.created_by.photoURL}}" alt="user" class="profile-photo-md pull-left" />
                <div class="post-detail">
                  <div class="user-info">
                    <h5><a href="timeline.html" class="profile-link">{{data.created_by.name}}</a> <span class="following">following</span></h5>
                    <p class="text-muted">{{date-time-format data.created_at}}</p>
                  </div>
                  <div class="reaction">
                    <a class="btn text-green" post-like-id={{data.id}} {{action 'postLike' data.id}}><i class="icon ion-thumbsup unlike" ></i> {{data.like_count}}</a>
                    <a class="btn text-blue" ><i class="fa ion-compose"></i> {{data.comment_count}}</a>
                  </div>
                  <div class="line-divider"></div>
                  <div class="post-text">
                    <p>{{data.description}}. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                  </div>
                  <div class="line-divider"></div>
                  <div comment-container={{data.id}}>
                  {{#each data.comments as |comment|}}
                      <div class="post-comment">
                        <img src="{{comment.user_id.photoURL}}" alt="" class="profile-photo-sm" />
                        <p><a href="timeline.html" class="profile-link">{{comment.user_id.name}} </a><i class="em em-laughing"></i> {{comment.description}}</p>
                      </div>
                  {{/each}}
                </div>


                  <div class="post-comment">
                    <img src="{{user.photoURL}}" alt="" class="profile-photo-sm" />
                    <input type="text" class="form-control" id="{{data.id}}" placeholder="Post a comment" onkeyUp={{action 'sendComment' data.id user.photoURL user.displayName}}>
                  </div>
                </div>
              </div>
            </div>
