 <div class="profile-card" style="background-image: url('{{cover}}')">
            	<img src="{{img}}" alt="user" class="profile-photo" {{action 'openModel'}} onerror="this.src='assets/images/defaultUser.png'"/>
            	{{#if showModel}}
            	 {{image-cropper viewPort='profile' closeModl=(action 'closeModel') succeses=(action 'reloader')}}
            	{{/if}}
            	<h5 >{{#link-to 'time-line' class='text-white'}}{{name}}{{/link-to}}</h5>
            	{{#link-to 'time-line' class='text-white'}}<i class="ion ion-android-person-add"></i> {{follower}} followers{{/link-to}}
            </div><!--profile card ends-->