 <div class="container">

      <!-- Timeline
      ================================================= -->
      <div class="timeline">
        <div class="timeline-cover" style="background-image: url('{{model.user.coverUrl}}')">

          <!--Timeline Menu for Large Screens-->
          <div class="timeline-nav-bar hidden-sm hidden-xs">
            <div class="row">
              <div class="col-md-3">
                <div class="profile-info">
                  <img src="{{model.user.photoURL}}" alt="" class="img-responsive profile-photo" />
                  <h3>{{model.user.name}}</h3>
                  <p class="text-muted">Creative Director</p>
                </div>
              </div>
              <div class="col-md-9">
                <ul class="list-inline profile-menu">
                   <li>{{#link-to 'time-line'}}Timeline{{/link-to}}</li>
                   <li>{{#link-to 'about'}}About{{/link-to}}</li>
                  <li>{{#link-to 'friends'}}Friends{{/link-to}}</li>
                </ul>
                <ul class="follow-me list-inline">
                  <li>{{followers}} people following </li>
                 <!-- <li><button class="btn-primary">Add Friend</button></li> -->
                </ul>
              </div>
            </div>
          </div><!--Timeline Menu for Large Screens End-->

         <!--Timeline Menu for Small Screens-->
          <div class="navbar-mobile hidden-lg hidden-md">
            <div class="profile-info">
              <img src="{{model.user.photoURL}}" alt="" class="img-responsive profile-photo" />
              <h4>{{model.user.name}}</h4>
              <p class="text-muted">Creative Director</p>
            </div>
            <div class="mobile-menu">
              <ul class="list-inline">
                <li>{{#link-to 'time-line'}}Timeline{{/link-to}}</li>
                  <li>{{#link-to 'about'}}About{{/link-to}}</li>
                  <li>{{#link-to 'friends'}}Friends{{/link-to}}</li>
              </ul>
             
            </div>
          </div><!--Timeline Menu for Small Screens End-->

        </div>
        <div id="page-contents">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">


             <!-- Post Create Box
            ================================================= -->
           
            <!-- Post Create Box End-->
             
            <!-- Friend List
              ================================================= -->
             <div class="friend-list">
                <div class="row">
              {{#each model.myfriend as |friend|}}
              
                  
                  <div class="col-md-6 col-sm-6">
                    <div class="friend-card">
                      <img src="{{friend.cover.url}}" alt="profile-cover" class="img-responsive cover" />
                      <div class="card-info">
                        <img src="{{friend.photoURL}}" alt="user" class="profile-photo-lg" />
                        <div class="friend-info">
                          <a href="#" class="pull-right text-green"></a>
                          <h5><a href="timeline.html" class="profile-link">{{#link-to "profile" (query-params id=friend.id)}}{{friend.name}}{{/link-to}}</a></h5>
                          <!--<p>Student at Harvard</p>
                          -->
                        </div>
                      </div>
                    </div>
                  </div>

                 {{/each}}
                 
                 
                 </div>
                 </div>

              
            </div>




           <div class="col-md-2 static">
            <div class="suggestions" id="sticky-sidebar">
              <h4 class="grey">Suggestion <p style="font-size: 11px;">( {{ totalSuggestion}} peoples )</p></h4>

                            
              {{#each model.suggest as |user|}}
              <div class="follow-user" >
              
                <img src="{{user.photoURL}}" width="300" class="profile-photo-sm pull-left" />
                <div>
                  <h5>{{#link-to "profile" (query-params id=user.id)}}{{user.name}}{{/link-to}}</h5>
                  <a href="#" class="text-green">Add friend</a>
                </div>
               
              </div>
             
              {{/each}}
            
            </div>
          </div>
          
          </div>
        </div>
      </div>
    </div>

