 <div id="page-contents">
    	<div class="container">
    		<div class="row">

          <!-- Newsfeed Common Side Bar Left
          ================================================= -->
    			<div class="col-md-3 static">
          
          {{profile-card img=model.user.photoURL name=model.user.displayName follower="2089" }}
          
          {{chat-card onlinePepole=model.friend }}
           
            </div>
          
    			<div class="col-md-7">

            <!-- Post Create Box
            ================================================= -->
            {{post-and-share new=model.sendPost post=model.post user=model.user}}
            <!-- Post Create Box End-->

            
            <!-- Post Content
            ================================================= -->
           {{#each model.post as |po|}}
                {{post-card-with-image data=po user=model.user}}
             {{/each}}
           <!-- End Post Content -->
           </div>

          <!-- Newsfeed Common Side Bar Right
          ================================================= -->
    			<div class="col-md-2 static">
            <div class="suggestions" id="sticky-sidebar">
              <h4 class="grey">Suggestion</h4>
                            
              {{#each model.suggest as |user|}}
              <div class="follow-user" >
              
                <img src="{{user.photoURL}}" width="300" class="profile-photo-sm pull-left" />
                <div>
                  <h5>{{#link-to "profile" (query-params id=user.id)}}{{user.name}}{{/link-to}}</h5>
                  <a href="#" class="text-green">Add friend</a>
                </div>
               
              </div>
             
              {{/each}}
            
            </div>
          </div>
    		</div>
    	</div>
    </div>