 <div class="container">

      <!-- Timeline
      ================================================= -->
      <div class="timeline">
        <div class="timeline-cover" style="background-image: url('{{if model.user.cover.url model.user.cover.url "assets/images/defaultcover.png"}}')">

          <!--Timeline Menu for Large Screens-->
          <div class="timeline-nav-bar hidden-sm hidden-xs">
            <div class="row">
              <div class="col-md-3">
                <div class="profile-info">
                  <img src="{{model.user.photoURL}}" alt="" class="img-responsive profile-photo" onerror="this.src='assets/images/defaultUser.png'"/>
                  <h3>{{model.user.name}}</h3>
                  <p class="text-muted"></p>
                </div>
              </div>
              <div class="col-md-9">
               <ul class="list-inline profile-menu">
                <li>{{#link-to 'time-line'}}Timeline{{/link-to}}</li>
                  <li>{{#link-to 'about'}}About{{/link-to}}</li>
                  <li>{{#link-to 'friends'}}Friends{{/link-to}}</li>
                </ul>
                <ul class="follow-me list-inline">
                  <li>1,299 people following her</li>
                  <li><button class="btn-primary" id='sendFriendRequest' {{action 'sendFriendRequest' model.user 'sendFriendRequest'}}>Add Friend</button></li>
                  
                </ul>
              </div>
            </div>
          </div><!--Timeline Menu for Large Screens End-->

         <!--Timeline Menu for Small Screens-->
          <div class="navbar-mobile hidden-lg hidden-md">
            <div class="profile-info">
              <img src="{{model.user.photoURL}}" alt="" class="img-responsive profile-photo" />
              <h4>{{model.user.name}}</h4>
              <p class="text-muted"></p>
            </div>
            <div class="mobile-menu">
              <ul class="list-inline">
                <li>{{#link-to 'time-line'}}Timeline{{/link-to}}</li>
                  <li>{{#link-to 'about'}}About{{/link-to}}</li>
                  <li>{{#link-to 'friends'}}Friends{{/link-to}}</li>
              </ul>
             
            </div>
          </div><!--Timeline Menu for Small Screens End-->

        </div>
        <div id="page-contents">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">


             <!-- Post Create Box
            ================================================= -->
            {{post-and-share new=model.sendPost post=model.post user=model.user}}
            <!-- Post Create Box End-->
             
             <div class="about-profile">
                <div class="about-content-block">
                  <h4 class="grey"><i class="ion-ios-information-outline icon-in-title"></i>Personal Information</h4>
                  <p>{{model.user.bio}}</p>
                </div>
                </div>


              <!-- Post Content
            ================================================= -->
           {{#each model.post as |po|}}
                {{time-line-post data=po user=model.user}}
             {{/each}}
           <!-- End Post Content -->

           </div>
          </div>
        </div>
      </div>
    </div>

